<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        iframe {
            width: 100%;
            height: 600px;
            border: none;
        }
    </style>
</head>
<body>
    <h1>주소 확인 완료</h1>
    <p id="fullAddress">{{ full_address }}</p>
    
    {% if pdf_file_url %}
        <h2>요약본 확인</h2>
        <p>{{ summary }}</p>
        <p><a href="{% url 'get_pdf_file' pdf_file_url %}" download>Download PDF</a></p>

    {% else %}
        <p>No PDF file available.</p>
    {% endif %}
</body>
</html>
